:root {
    --primary-50: 255, 251, 235;
    --primary-100: 254, 243, 199;
    --primary-200: 253, 230, 138;
    --primary-300: 252, 211, 77;
    --primary-400: 251, 191, 36;
    --primary-500: 245, 158, 11;
    --primary-600: 217, 119, 6;
    --primary-700: 180, 83, 9;
    --primary-800: 146, 64, 14;
    --primary-900: 120, 53, 15;
    --primary-950: 69, 26, 3;
}
