:root {
    --primary-50: 253, 242, 248;
    --primary-100: 252, 231, 243;
    --primary-200: 251, 207, 232;
    --primary-300: 249, 168, 212;
    --primary-400: 244, 114, 182;
    --primary-500: 236, 72, 153;
    --primary-600: 219, 39, 119;
    --primary-700: 190, 24, 93;
    --primary-800: 157, 23, 77;
    --primary-900: 131, 24, 67;
    --primary-950: 80, 7, 36;
}
